/*
    darkgrey: rgb(30, 30, 30);
    lightgrey: rgb(70, 70, 70);
    lightblue: rgb(50, 170, 200);
*/

#player {
    background-color: rgb(30, 30, 30);
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    background-color: rgb(70, 70, 70);
}
img:hover {
    background-color: rgb(50, 170, 200);
}
img, #pbar-container, #sbar-container {
    cursor: pointer;
}


/* The Container */

#video-container {
    width: 1024px;
    height: 576px;
    position: relative;
}
    video{
        height: 100%;
        width: 100%;
    }
    #screen {
        height: 100%;
        width: 100%;
        line-height: 576px;
        text-align: center;
        position: absolute;
        z-index: 1 !important;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+4,000000+100&0+4,0.65+100 */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 4%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 4%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 4%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
        #screen img {
            vertical-align: middle;
        }

#pbar-container {
    margin-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(70, 70, 70);
}
    #pbar{
        height: 5px;
        width: 0%;
        background-color: rgb(50, 170, 220);
    }
#buttons-container {
    height: 50px;
}
    #buttons-container > * {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin: 0 10px;
    }
#time-field {
    color: rgb(50, 170, 220);
    line-height: 50px;
    cursor: default;
}
#sound-button {
    margin-right: 0;
}
#sbar-container {
    margin-left: 0;
    width: 100px;
    height: 10px;
    background-color: rgb(70, 70, 70);
}
    #sbar {
        height: 100%;
        width: 100%;
        background-color: rgb(50, 170, 220);
    }
#fullscreen-button {
    float: right;
}
